# Activate SELinux extension for ipv6calcweb.cgi
#
# checkmodule -M -m -o ipv6calcweb-dbfiles.mod ipv6calcweb-dbfiles.te
# semodule_package -o ipv6calcweb-dbfiles.pp -m ipv6calcweb-dbfiles.mod
# semodule -i ipv6calcweb-dbfiles.pp

module ipv6calcweb-dbfiles 1.0;

require {
	type var_t;
	type httpd_sys_script_t;
	class file { getattr read };
}

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t var_t:file { getattr read };
