*.o
*.so
*.so.*
*.a
*.la
*.lo
*.slo
*~
Makefile
autogen-all-variants.status
autom4te.cache/
config.h
config.log
config.status
databases/lib/Makefile
getopt/Makefile
ipv6calc/Makefile
ipv6calcweb/Makefile
ipv6loganon/Makefile
ipv6logconv/Makefile
ipv6logstats/Makefile
lib/Makefile
man/Makefile
md5/Makefile
mod_ipv6calc/Makefile
tools/DBIP-update.sh
tools/GeoIP-update.sh
tools/IP2Location-update.sh
tools/Makefile
tools/ipv6calc-db-update.sh
ipv6calc/ipv6calc
ipv6calcweb/ipv6calcweb.cgi
ipv6loganon/ipv6loganon
ipv6logconv/ipv6logconv
ipv6logstats/ipv6logstats
databases/*/*.db
*/.libs/*
databases/ieee-iab/iab.csv
databases/ieee-oui/oui.csv
databases/ieee-oui28/mam.csv
databases/ieee-oui36/oui36.csv
databases/registries/afrinic/
databases/registries/apnic/
databases/registries/arin/
databases/registries/iana/
databases/registries/lacnic/
databases/registries/lisp/
databases/registries/ripencc/
