*.o
*.so
*.so.*
*.a
*~
Makefile
autogen-all-variants.status
autom4te.cache/
config.h
config.log
config.status
databases/lib/Makefile
getopt/Makefile
ipv6calc/Makefile
ipv6calcweb/Makefile
ipv6loganon/Makefile
ipv6logconv/Makefile
ipv6logstats/Makefile
lib/Makefile
man/Makefile
md5/Makefile
mod_ipv6calc/Makefile
tools/DBIP-update.sh
tools/GeoIP-update.sh
tools/IP2Location-update.sh
tools/Makefile
tools/ipv6calc-db-update.sh
